.bottom_fixed{
    position: fixed;
    bottom: 50px;
    right: 50px; 
    font-size: xx-large;
  }
  
.btn-open-form{
  position: fixed;
  bottom: 30px;
  right: 130px;
  font-size: x-large;
  background-color: #f1f1f1;
  color: #000;
}

.btn:hover{
  background-color: #7e98c9;
  color: rgb(255, 255, 255);
}

.form-popup {
  position: fixed;
  bottom: 92px;
  right: 50px;
  border: 3px solid #f1f1f1;
}

.form-container {
  overflow: auto;
  display: none;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  
}

.form-container input[type=text], .form-container textarea, .form-container input[type=email], .form-container input[type=number], .form-container input[type=password], .form-container select, .form-container option {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.close-btn{
  position:relative;
  float:right;
}

.close-btn:hover{
  background-color: #942b2b;
}

.btn-add-data:hover{
  background-color: green;
}

.form-container .btn-add-data{
  position: relative; 
  left: 50%; 
  transform: translate(-50%);
}

.btn-close-form{
  position: fixed;
  bottom: 30px;
  right: 130px;
  font-size: x-large;
  color: rgb(255, 255, 255);
  display: none;
}

.btn-close-form:hover{
  background-color: #942b2b;
}

.custom-selector{
  position: absolute;
  display: none;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 2px;
}

.food-selector{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  text-align: left;
}

.checkbox{
    text-align: center;
    margin: 10px;
    margin-left: 30px;
    font-size: large;  
    background: #f1f1f1;
}