.custom-margin{
    margin-bottom: 0px;
}

.btn.hover{
    background-color: #7fa9e0;
    color: rgb(255, 255, 255);
}

#buttons{
    position: relative;
    margin-top: 10px;
    bottom: 10px;
    left: 50%; 
    transform: translate(-50%);
}
