* {
    box-sizing: border-box;
}
body {
    color: rgb(131, 32, 32);
    background: url("https://wallpaperaccess.com/full/1099445.png") no-repeat center fixed;
    background-size: cover;
}
#survey-container {
    padding: 20px;
    color: white;
    border-radius: 5px;
    background-color: rgba(75, 75, 83, 0.5);
}
#title, #description {
    text-align: center;
    text-shadow: 4px 4px 9px black;
}
label, #survey-container p {
    font-size: 20px;
}
#dropdown, #not-sure, #option-eight {
    margin-bottom: 20px;
}