@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.188rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.75rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    letter-spacing: 3px;
}

.title {
    margin: 3rem auto;
    font-size: 1rem;
}

.drinks-form {
    margin: 1rem;
}

input {
    width: 250px;
    padding: 0.5rem;
    background: var(--clr-white);
    border-radius: 5px;
    border-color: var(--clr-primary-5);
    font-family: inherit;
    font-size: 1rem;
    color: var(--clr-grey-1);
}

.breweries {
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card {
    min-width: 290px;
    height: 240px;
    background-color: var(--clr-white);
    box-shadow: var(--dark-shadow);
    letter-spacing: var(--spacing);
    text-align: left;
    border-radius: 7px;
    padding: .7rem 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    line-height: 1.6;
}

.contacts {
    margin: 4px auto;
    width: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.contacts button {
    border: none;
    padding: 5px 10px;
    background-color: var(--clr-primary-5);
    border-radius: 3px;
}

.drink-contact {
    margin-top: .7rem;
    letter-spacing: 2px;
}

.drink-title {
    margin-bottom: .75rem;
    font-size: 1rem;
}

.drink-span {
    font-weight: normal;
}

.card p {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.btn {
    background-color: var(--clr-primary-5);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: var(--dark-shadow);
    padding: .3rem .6rem;
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: inherit;
    font-size: .8rem;
    margin-bottom: .5rem;
    margin-right: .71rem;
}

.active-btn {
    background-color: var(--clr-grey-1);
    color: var(--clr-white)
}

.btn:active,
.icon:active {
    transform: scale(.9);
}

@media (min-width: 768px) {
    .card {
        min-width: 320px;
        width: 335px;
        padding: .71rem 1rem;
    }
    .drink-title {
        margin-bottom: .75rem;
        font-size: 1.25rem;
    }
}